body {
  font-size: 1rem;
  padding: 15px;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} 

.header-right {
  display:flex;
  justify-content: space-between;
  width: 320px;
  align-items: center;
}

.movie {
  text-align: center;
  margin-top: 3%;
}

.logo {
  font-weight: 800;
  font-size: 1.6rem;
}

.logo span {
  color:  #FFCD06;
}

form {
  position: relative;
}

#search {
  width: 270px;
  border-radius: 100px;
  border: 2px solid #aaa;
  padding-left: 35px;
  height: 32px;
}
#search:focus {
  outline:none;
  border: 2px dashed #aaa;
}

.search-image {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 9px;
  left: 10px;
}


figure {
  flex-basis: 200px;
}

.movie-image:hover {
  box-shadow: 0px 20px 20px 10px #aaa;
}

.movie-title {
  color: #3A3A3A;
  font-weight: bold;
  font-size: 16px;
}

.author {
  opacity: 0.6;
  font-weight: normal;
  line-height: 12px;
  font-size: 12px;
}

/* Media Queries */
/* iPhone X ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  #search {
    float:none;
    text-align:center;
    width:100%;
   }
  }